@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@layer utilities {
    /* Underline Nav */
    .underline-nav {
        stroke-dasharray: 140;
        stroke-dashoffset: 140;
        animation: underline-nav 800ms ease-out;
    }

    @keyframes underline-nav {
        to {
            stroke-dashoffset: 0;
        }
    }
}