@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@layer utilities {
    .content-container {
        @apply max-w-7xl mx-auto px-6 md:px-8 2xl:px-0;
    }

    /* Special Underline */
    .special-underline {
        display: inline-block;
    }

    /* Animated Special Underline */
    .animated-special-underline {
        stroke-dasharray: 140;
        stroke-dashoffset: 140;
        animation: animated-special-underline 300ms ease-out forwards;
    }

    @keyframes animated-special-underline {
        to {
            stroke-dashoffset: 0;
        }
    }
}